.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: inset;
    background-color: antiquewhite;
    padding: 10px;
    height: 450px;
}

p{
    background-color: transparent;
    font-weight: bolder;
    font-size: large;
}

#name{
    width: 20%;
    border-radius: 1%;
    padding: 3px;
}

#title{
    width: 30%;
    border-radius: 1%;
    padding: 3px;
}

#content{
    width: 90%;
    height: 300px;
    border-radius: 1%;
    padding: 5px;
}

#post{
    width: 5%;
}

@media screen and (max-width: 992px) {
    .body {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .body {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .body {
        width: 100%;     
  }
}