*{
    background-color: teal;
    margin: 0;
    padding: 0;
}

:root{
    --headlinecolor: black;
    --textcolor: rgb(44, 42, 42);
}

header{
    color: var(--textcolor);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hero{
    background-image: url(../images/IMG_9697.jpeg);
    background-position: center;
    background-size: cover;
}

#blog{
    display: flex;
}